@use '../util' as *;

@keyframes float{
    0%{
        transform: translate(0, .5rem);
    }

    50%{
        transform: translate(0, -1rem);
    }

    100%{
        transform: translate(0, .5rem);
    }
}

@keyframes slide{
    0%{
        
    }

    100%{
        left: 100%;
    }
}


@keyframes drop{
    0%{
        border-radius: 74% 26% 54% 46% / 48% 45% 55% 52%;
    }

    25%{
        border-radius: 48% 52% 39% 61% / 50% 43% 57% 50% ;
    }

    50%{
        border-radius: 36% 64% 31% 69% / 65% 50% 50% 35% ;
    }

    75%{
        border-radius: 57% 43% 38% 62% / 60% 44% 56% 40% ;
    }

    100%{
        border-radius: 74% 26% 54% 46% / 48% 45% 55% 52%;
    }
}

@keyframes minidrop{
    0%{
        border-radius: 34% 66% 55% 45% / 38% 60% 40% 62% ;
    }

    25%{
        border-radius: 33% 67% 65% 35% / 50% 34% 66% 50% ;
    }

    50%{
        border-radius: 50% 50% 44% 56% / 55% 47% 53% 45% ;
    }

    75%{
        border-radius: 55% 45% 54% 46% / 66% 31% 69% 34% ;
    }

    100%{
        border-radius: 34% 66% 55% 45% / 38% 60% 40% 62% ;
    }
}


