//text
@mixin title($fontSize){
    font-family: 'Dancing Script', cursive;
    font-size: $fontSize;
    color: #B9EDDD;
    font-weight: bold;

}

//flexbox
@mixin flex($direction, $wrap, $justify, $align-items,
$align-content, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align-items;
    align-content: $align-content;
    gap: $gap;
}


// after and before attributes
@mixin increaseHalfSize($value){
    height: $value * 1.5;
    width: $value * 1.5;
}

@mixin square($value){
    height: $value;
    width: $value;
}

// components
@mixin bubble($sizeSide, $backgroundImage){
    //box model
    @include square($sizeSide);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url($backgroundImage);
    background-size: cover;
    border-radius: 100%;
    padding: 4rem;

    position: relative;

    //flex
    @include flex(column, nowrap, center, flex-start, 
        center, .4rem);

    //animacion
    animation-name: float;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@mixin box-container($height, $width, $padding, $gap){
    height: $height;
    width: $width;
    padding: $padding;

    @include flex(row, wrap, flex-start, flex-end,
        flex-end, $gap);

    
}

