@use '../util' as *;

.com{
    margin-top: 10rem;
    display: grid;
    grid-template-areas: 
    "title"
    "divide"
    "option"
    "posts"
    "aside";
    gap: 0;


    &__title {
        grid-area: title;
    }
    &__social {
        height: 5rem;
    }
}

.board-community{
    
    grid-area: title;
    position: relative;
    height: 50rem;
    padding: 5rem 2rem;
    

    //flex
    @include flex(column, nowrap, space-between, center,
        center, 0);

    //background
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0%, 
    rgba(0, 0, 0, 1) 70%), url("../media/img/rainworld.webp");
    background-position: cover;

    h2{
        @include title(7rem);
        text-shadow: 7px 7px black;
    }

    span{
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        color: #B9EDDD;
        font-weight: bold;
    }

    &__container{
        @include box-container(20rem, 100%, .5rem, .5rem);

        &__box{
            opacity: .1;
            height: 7rem;
            width: 7rem;

            //img
            object-fit: cover;
            border-radius: 100%;

            //transition
            transition: all .5s ease;

            &:hover{
                border: 0px;
                opacity: 1;
            }

        }
    }
}

.community-divide{
    grid-area: divide;
}

.option {
    grid-area: option;
  /* flexbox */
    @include flex(row, wrap, flex-start, flex-start, 
    flex-start, 1rem 3rem);

    //box model
    background-color: #F0F0F0;
    padding: 2rem 4rem;
    

    &__title{
        @include title(6rem);
        text-shadow: 5px 5px black;
    }

    &__subtitle{
        font-family: 'Nunito', sans-serif;
                font-size: 3rem;
                color: black;
                font-weight: bold;
                text-decoration: none;
    }

    label{
        font-size: 3rem;
    }

    input{
        transform: scale(3) translate(-.3rem, -.3rem);

    }
}

.posts{
    width: 100%;
    @include flex(row, wrap, flex-start, flex-start, flex-start,
        0);

    @include background-image("../media/img/geek.jpg", rgba(0, 0, 0, 0.4));

    &__post{
        height: 60rem;
        width: 20%;

        border: 1px solid white;
        //flex
        @include flex(row, nowrap, flex-start, flex-start,
            flex-start, 0);
        overflow: hidden;

        &--library{
            @include background-image("../media/img/library.jpg",
                rgba(0, 0, 0, 0.7));
        }

        &--pets{
            @include background-image("../media/img/pets.jpeg",
                rgba(0, 0, 0, 0.7));
        }

        &--games{
            @include background-image("../media/img/videogames.jpeg",
                rgba(0, 0, 0, 0.7));
        }

        &--movies{
            @include background-image("../media/img/movies.webp",
                rgba(0, 0, 0, 0.7));
        }

        &--code{
            @include background-image("../media/img/code.jpeg",
                rgba(0, 0, 0, 0.7));
        }

        

        transition-property: all;
        transition-delay: 1s;
        transition-duration: 1s;
        transition-timing-function: ease;

        &__vertical{
            padding: 2rem;
            height: 100%;
            width: 12.25rem;
            @include flex(column, nowrap, flex-start, center,
                center, 2rem);

            

            &__img{
                //box model
                width: 9rem;
                height: 9rem;
                border-radius: 100%;
                overflow: hidden;
                object-fit: cover;

            }

            &__topics{
                @include flex(column, nowrap, center, center,
                    center, 1rem);

                &__img{
                    width: 5rem;
                    object-fit: contain;
                }
            }

            &__text{
                font-family: 'Noto Sans', sans-serif;
                font-size: 1.5rem;
                color: white;
                transition: all 1s;
            }

            &__sources{
                display: none;
                opacity: 0;

                transition-property: display;
                transition-delay: 1s;
                transition-duration: .1s;

                transition-property: opacity;
                transition-delay: 1.2s;
                transition-duration: 1s;
                transition-timing-function: ease;

                //box model
                padding: 1rem;

                //flex
                @include flex(column, nowrap, flex-start, center,
                    center, 1rem);

                &__src{
                    height: 5rem;
                    object-fit: contain;
                }
            }
        }

        &__content{
            height: 0;
            width: 100%;
            overflow: hidden;
            
            
            display: grid;
            grid-template-areas:
                "title"
                "texti"
                "photos";

            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(1rem);

            transition-property: height;
            transition-delay: 0s;
            transition-duration: .75s;
            transition-timing-function: ease;

            &__title{
                grid-area: title;
                padding: 2rem 4rem;
                //display: none;
                opacity: 0;
                //text
                @include title(4rem);
                text-align: center;

                transition-property: opacity;
                transition-delay: .2s;
                transition-duration: .5s;
                transition-timing-function: ease;
            }

            &__text{
                grid-area: texti;
                padding: 2rem 4rem;
                //display: none;
                opacity: 0;

                //text
                font-family: 'Noto Sans', sans-serif;
                font-size: 2.5rem;
                color: white;


                transition-property: opacity;
                transition-delay: .2s;
                transition-duration: .5s;
                transition-timing-function: ease;
                
            }

            &__photos{
                grid-area: photos;
            }
        }

        &:hover{
            width: 100%;
            height: 80rem;
            //order: -1;
        }
        
        &:hover &__vertical__text{
            opacity: 0;
        }

        &:hover &__vertical__sources{
            display: block;
            opacity: 1;
        }

        &:hover &__content{
            height: 100%;
        }

        &:hover &__content__title{
            opacity: 1;
        }

        &:hover &__content__text{
            opacity: 1;
        }   
    }
}

.ranks {
    grid-area: aside;
    
    //box model
    width: 100%;

    &__content{
        //flex 
        @include flex(row, wrap, flex-start, flex-start,
        flex-start, 2rem);
    }
}