@use '../util' as *;

.footer{
    background-color: #F0F0F0;
    padding: 2rem;
    @include flex(row, nowrap, center, flex-start,
        flex-start, 2rem);

    &__title{
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        color: black;
        font-weight: bold;
    }

    &__social{
        height: 5rem;
        @include flex(row, wrap, flex-start, flex-start,
            flex-start, .5rem);

    }

    &__icon{
        height: 100%;
    }
}