@use '../util' as *;

.personal{
    position: relative;
    margin-top: 3.5rem;
    @include flex(row, nowrap, center, center, center,
        0);
    height: 15rem;

    //background
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)), url("../media/img/mexico-city.jpg");
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;

    
}

.summary{
    //grid
    display: grid;
    grid-template-areas:
    "quote"
    "music"
    "videogames"
    "aside"
    "community"
    "blog";
    place-items: center;
    place-content: center;

    gap: 2rem;

    padding: 2rem .5rem;
    

}

.quote{
    grid-area: quote;
}

.crd-music{
    grid-area: music;

    

    &__title{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../media/img/music.jpg");
    }
}

.crd-videogames{
    grid-area: videogames;

    &__title{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../media/img/resident-evil-train.jpg");
    }
}

.aside{
    grid-area: aside;

}

.crd-community{
    grid-area: community;

    &__title{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../media/img/community.jpg");
    }
}

.crd-blog{
    grid-area: blog;

    &__title{
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../media/img/writing.jpg");
    }
}