@use '../util/' as *;
@use '../animation' as *;

.main{

    &__title{
        font-weight: bolder;
        font-size: 4rem;
        font-family: 'Dancing Script', cursive;

        //shadow
        text-shadow: -.04em -.04em #FE0604, 
            .04em .04em #1DFFFF;
    }

    &__divide{
        // box model
        height: 2rem;
        background-color: #B9EDDD;
        border-top: .2em solid black;
        border-bottom: .2em solid black;
        padding: 0 .1em;

        
        overflow: hidden;

        &__slide{
            height: 100%;
            // flex
            @include flex(row, nowrap, flex-start, 
            flex-start, flex-start, 0);
            position: relative;
            left: -25rem;
            animation-name: slide;
            animation-delay: 0s;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            
        }

        &__text{
            //text
            font-weight: bolder;
            font-size: 1rem;
        }

        &__img{
            height: 100%;
        }
        
    }

    &__cardboard{
        width: 95%;
        border-radius: 1em;
        gap: 0;
        background-color: #F0F0F0;
        overflow: hidden;

        &__content{
            opacity: 0;
            overflow: hidden;
            max-height: 0;
            
            
            background-color: #F0F0F0;
            transition: all 1.5s;
        }

        &:hover > &__content{
            opacity: 1;
            padding: 1rem;
            max-height: 30rem;
        }


        &__title{
            //flex 
            
            @include flex(column, nowrap, center, center,
            flex-start, 0);
            background-size: cover;
            background-position: center center;

            height: 4rem;
            

            //text
            @include title(2rem);
            text-shadow: .1em .1em black;
            margin: 0;
        }

        &__text{
            font-family: 'Nunito', sans-serif;
            font-size: .8rem !important;
        }
    }

    &__foot-img{
        //padding
        padding: .1rem;

        //text
        font-style: italic;
        font-size: .5rem;
        
        //background
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(.3rem);

        //position
        position: absolute;
        left: .5rem;
        bottom: 0;
    }

    
    

    
}