@use '../util' as *;

.board-music{
    height: 80rem;
    width: 100%;
    position: relative;

    // @include background-image("../media/img/drums.jpg",
    //     rgba(0, 0, 0, 0.4));
}

.drop{

    //box model
    height: 40rem;
    width: 40rem;


    @include flex(row, nowrap, center, center, center, 0);

    position: absolute;
    top: 15rem;
    left: 10rem;
    background-color: rgb(1, 179, 255);
    box-shadow: inset 4rem 4rem 4rem rgba(0, 0, 0, 0.07), 
        7rem 7rem 5rem rgba(1, 180, 255, 0.1), 
        7rem 9rem 5rem rgba(1, 180, 255, 0.1),
        inset -4rem -4rem 4rem rgba(255, 255, 255, 0.5);
    
    //animation
    animation-name: drop;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &__title{
        font-family: 'Dancing Script', cursive;
        font-size: 9rem;
        color: white;
        font-weight: bold;
    }
}

.mini-drop{
    //box model
    height: 15rem;
    width: 15rem;


    @include flex(row, nowrap, center, center, center, 0);

    position: absolute;
    
    
    
    //animation
    animation-name: minidrop;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &--red{
        bottom: 5rem;
        right: 15rem;
        background-color: rgba(251, 37, 119, 1);
        box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.07), 
        3rem 3rem 3rem rgba(251, 37, 120, 0.1), 
        3rem 5rem 3rem rgba(251, 37, 120, 0.1),
        inset -2rem -2rem 2rem rgba(255, 255, 255, 0.5);
    }

    &--green{
        bottom: 10rem;
        left: 5rem;
        background-color: rgba(255, 233, 32, 1);
        box-shadow: inset 2rem 2rem 2rem rgba(0, 0, 0, 0.07), 
        3rem 3rem 3rem rgba(255, 234, 32, 0.1), 
        3rem 5rem 3rem rgba(255, 234, 32, 0.1),
        inset -2rem -2rem 2rem rgba(255, 255, 255, 0.5);
    }
}

