@use '../util' as *;

.music{
    margin-top: 3.5rem;
    grid-template-areas: 
    "board"
    "events"
    "divide"
    "aside"
    "artists"
}

.board-music{
    height: 35rem;
    width: 100%;
    position: relative;

    grid-area: board;

    // @include background-image("../media/img/drums.jpg",
    //     rgba(0, 0, 0, 0.4));
}

.drop{

    //box model
    height: 15rem;
    width: 15rem;


    @include flex(row, nowrap, center, center, center, 0);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 179, 255);
    box-shadow: inset 2em 2em 2em rgba(0, 0, 0, 0.07), 
        3em 3em 3em rgba(1, 180, 255, 0.1), 
        3em 5em 3em rgba(1, 180, 255, 0.1),
        inset -2em -2em 2em rgba(255, 255, 255, 0.5);
    
    //animation
    animation-name: drop;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &__title{
        font-family: 'Dancing Script', cursive;
        font-size: 3.5rem;
        color: white;
        font-weight: bold;
    }

    
}

.mini-drop{
    //box model
    height: 6rem;
    width: 6rem;


    @include flex(row, nowrap, center, center, center, 0);

    position: absolute;
    
    
    
    //animation
    animation-name: minidrop;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    transition: all 1s ease;

    &--red{
        bottom: 2rem;
        right: 3rem;
        background-color: rgba(251, 37, 119, 1);
        box-shadow: inset 1em 1em 1em rgba(0, 0, 0, 0.07), 
        2em 1em 1.5em rgba(251, 37, 120, 0.1), 
        1.5em 1.5em 1.5em rgba(251, 37, 120, 0.1),
        inset -.7em -.7em .5em rgba(255, 255, 255, 0.5);
    }

    &--yellow{
        bottom: 2rem;
        left: 2rem;

        background-color: rgba(255, 233, 32, 1);
        box-shadow: inset 1em 1em 1em rgba(0, 0, 0, 0.07), 
        2em 1em 1.5em rgba(255, 234, 32, 0.1), 
        1.5em 1.5em 1.5em rgba(255, 234, 32, 0.1),
        inset -1em -1em .5em rgba(255, 255, 255, 0.5);
    }

    &--green{
        top: 2rem;
        right: 3rem;
        background-color: rgba(157, 255, 46, 1);
        box-shadow: inset 1em 1em 1em rgba(0, 0, 0, 0.07), 
        2em 1em 1.5em rgba(157, 256, 46, 0.1), 
        1.5em 1.5em 1.5em rgba(157, 256, 46, 0.1),
        inset -1em -1em .5em rgba(255, 255, 255, 0.5);
    }

    &__subtitle{
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &--black{
            color: black
        }
    }

    &:hover{
        transform: scale(1.1);
    }
}

.events{
    grid-area: events;
    background-color: #F0F0F0;
    padding: 1rem 0;
    

    &__title{
        @include title(2.5rem);
        text-align: center;
        text-shadow: .05em .05em black;
    }

    &__grid{
        padding: .5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap: 2rem;

        

        &__event{
            border-radius: 20px;
            padding: 2rem 1rem;

            //flex 
            @include flex(column, nowrap, flex-start, center,
            center, .5rem);

            &__title{
                font-family: 'Nunito', sans-serif;
                font-size: 1.6rem;
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

            &__content{

                height: 100%;
                @include flex(column, nowrap, flex-start,
                    center, center, 1rem);

                &__date{
                    font-family: 'Anton', sans-serif;
                    font-size: 1rem;
                    color: white;
                    font-weight: normal;
                }

                &__text{
                    font-family: 'Nunito', sans-serif;
                    font-size: .8rem;
                    color: white;
                    font-weight: normal;
                    text-align: center;

                    &--small{
                        font-size: .6rem;
                    }
                }

                &__artists{
                    @include flex(row, wrap, flex-start, center,
                        center, .5rem);

                    &__link{
                        display: block;
                        height: 6rem;
                        width: 5rem;
                        @include flex(column, nowrap, flex-start,
                            center, center, .5rem);
                        text-decoration: none;

                        //transition
                        transition: all .5s ease;

                        &:hover{
                            transform: scale(1.1);
                        }
                    }


                    &__artist{
                        height: 2.8rem;
                        width: 2.8rem;
                        border-radius: 100%;
                        object-fit: cover;
                        text-align: center;
                    }
                }

                &__tickets{
                    //box model
                    display: block;
                    background-color: rgba(234, 4, 127, 1);
                    border-radius: 5rem;
                    box-shadow: inset 1em 1em 1em rgba(0, 0, 0, 0.1),
                        1em 1em 1em rgba(234, 4, 127, 0.3),
                        2em .5em 1.5em rgba(234, 4, 127, 0.3), 
                        inset -.5em -.5em .5em rgba(255, 255, 255, 0.3);
                    padding: .5rem 1rem;
                    width: 50%;
                    

                    //text
                    font-family: 'Anton', sans-serif;
                    font-size: .8rem;
                    text-decoration: none;

                    //flex
                    @include flex(row, nowrap, center, center,
                        center, 0);
                    color: white;
                    
                    //transition
                    transition: all .5s;

                    &:active{
                        color: #F0F0F0;
                        transform: scale(1.1);
                    }
                    
                }
            }

    

            &--vive{
                @include background-image("../media/img/vive-latino.jpg",
                    rgba(0, 0, 0, 0.7))
            }

            &--vampire{
                @include background-image("../media/img/world-vampire.jpeg",
                    rgba(0, 0, 0, 0.7));
                    background-position: center;
            }
            
            &--lamb{
                @include background-image("../media/img/lamb-god.png    ",
                    rgba(0, 0, 0, 0.7));
                    background-position: center;
            }

            &--molotov{
                @include background-image("../media/img/mexico.jpg",
                    rgba(0, 0, 0, 0.7));
                    background-position: center;
            }

            &--imagine{
                @include background-image("../media/img/imagine-dragons-ambient.png",
                    rgba(0, 0, 0, 0.7));
                    background-position: center;
            }
        }
    }

}

.playlists{
    grid-area: aside;
}

