@use '../util/' as *;
@use '../animation' as *;

.bubble-1{
    @include bubble(18rem, "../media/img/book.jpg");
    
}

.bubble{

    &__content{


        //
        max-height: 3.5rem;
        padding: .3rem;
        overflow: hidden;
        transition: all 1s;
        
    }

    &__title{
        @include title(2rem);

        text-shadow: .1em .1em black;

        &::before{
            content: "\201C";
            float:right;
            
            font-size: 5em;
            font-family: arial;
            color: #B9EDDD;

            text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
                1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

            // position
            position: absolute;
            bottom: .8em;
            left: 0;
        }
    }

    &__text{
        //box model
        

        //text
        font-family: 'Nunito', sans-serif;
        font-size: .7rem;
        font-weight: bold;
        color: white;
        text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
                1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
        
        //transition
        opacity: 0;
        transition: all 1s;
}

    &:hover &__content{
        max-height: 100%;
    }

    &:hover &__text{
        opacity: 1;
    }
}